@{
    ViewData["Title"] = "Initialize Database Page";
}

@* // SeedData and setting heading*@
<div class="container-fluid border-bottom mb-3">
    <h1>Calculator Maintenance App</h1>
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>Creating and Seeding the Database ... </h2>
            <br />
            <div>
                @ViewBag.SeedDbFeedback
            </div>
        </div>
    </div>
</div>